@model bearhug.Models.LoginModel
@{
    ViewBag.Title = "Password Retrieval";
}
<h4 class="subheader">Reset Password</h4>
<div class="row">
    <div class="small-4 columns">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            <fieldset>
                <legend>Enter your email address (username).</legend>
                <ul class="no-bullet">
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "radius" })
                    </li>
                    <li>A link will be sent to your email account providing instructions on how to reset your password.</li>
                </ul>
                <input type="submit" value="Submit" class="button tiny radius right" />
            </fieldset>
        }
    </div>
</div>
